@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.fas,
.far {
    font-size: 4rem;
}


/* World section */


/* IZFP section*/

.izfp-infrastructure {
    position: absolute;
    top: 15rem;
    left: 35rem;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    display: flex;
    flex-flow: row nowrap;
}

.izfp h4 {
    position: absolute;
    top: -1rem;
    left: 0.4rem;
}

.izfp-data-center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
    padding-left: 1rem;
}

.fa-database {
    color: midnightblue;
}

.rotate-90-deg {
    transform: rotate(90deg);
}

.izfp-intra-exchange {
    color: darkgrey;
    opacity: 0.9;
    ;
}

.toolbox {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    align-items: baseline;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 5px;
}

.tool {
    font-size: 1.8rem;
}

.fa-wrench {
    /*color: darkgoldenrod;*/
    transform: rotate(-90deg);
}

.exchange-service-izfp {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
    padding: 0 1rem;
}

.invisible-exchange {
    visibility: hidden;
}

.izfp-service {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
    padding-right: 1rem;
}

.invisible-chart {
    visibility: hidden;
}

.izfp-service span {
    font-size: 0.75rem;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 5px;
}


/* Leasing section */

#leasing .fa-exchange-alt {
    top: 16.5rem;
    left: 31rem;
}

.customer-leasing {
    position: absolute;
    top: 12.5rem;
    left: 21.5rem;
}

.company {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    align-items: center;
}

.fa-clock {
    position: absolute;
    font-size: 1.7rem;
    top: 0.75rem;
}

#exchange-measurement-company {
    font-size: 1rem;
    margin-right: 0.35rem;
}

.fa-ruler {
    font-size: 2rem;
}

.exchange-measurement-izfp .fa-exchange-alt {
    position: absolute;
}


/*Buy one get one free section*/

#get-one-free .fa-exchange-alt {
    top: 11rem;
    left: 38rem;
    transform: rotate(90deg);
}

.customer-get-one-free {
    position: absolute;
    top: 3.5rem;
    left: 39.5rem;
}

.customer-get-one-free h4 {
    min-width: 12rem;
}

.fa-tag {
    position: absolute;
    font-size: 1.5rem;
    top: 2rem;
    left: 1.5rem;
}


/*After-sales-service section*/

#after-sales .fa-exchange-alt {
    top: 30rem;
    left: 56.4rem;
}

.customer-after-sales h4 {
    min-width: 11rem;
}

.customer-after-sales {
    position: absolute;
    top: 26rem;
    left: 60.75rem;
}

.company-database {
    font-size: 2rem;
}

.fa-file-code {
    font-size: 2rem;
}


/*Federated Learning*/

#federated-learning .fa-exchange-alt {
    top: 30rem;
    left: 31rem;
}

.customer-federated-learning {
    position: absolute;
    top: 25.75rem;
    left: 16.5rem;
}

.fa-file {
    top: 1.1rem;
    font-size: 2.5rem;
}

.fa-lightbulb {
    font-size: 1rem;
    top: 0.7rem;
    left: 1.075rem;
}

.fa-stack .fa-wrench {
    font-size: 1rem;
    top: 0.7rem;
    left: 0.02rem;
    transform: rotate(0deg);
}